.collapsed {
    display: none;
}


.bgBody {
    background: radial-gradient(#dbd9e9, #f8f4f4e0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

.titleGame {
    color: rgb(14, 13, 13);
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(14, 13, 13);
    padding-left: 30px;
    padding-right: 30px;
}

.titleh2 {
    color: rgb(9, 138, 9);
}

.optionPlay {
    border-radius: 30px;
    padding: 10px;
    border: 3px solid rgb(9, 138, 9);
    
}

.buttonPlay {
    border-radius: 30px;
    padding: 10px;
    border: none;
    background-color: rgb(9, 138, 9);
    text-transform: uppercase;
    color: white;
}

.resultGame {
       margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.players{

    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.playerPoints, .pcPoints {
    color: rgb(9, 138, 9);
    padding: 10px;

}

.buttonReset{
    border-radius: 30px;
    padding: 15px;
    border: none;
    background-color: rgb(9, 138, 9);
    text-transform: uppercase;
}

.footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    color:rgb(14, 13, 13);
}

.footer__rrss-title {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 5px;
    
}

.footer__rrss-web{
color:rgb(9, 138, 9);
}
